@model JLL.DVDCentral.BL.Models.Movie

@{
    ViewBag.Title = "Movie Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="ml-2">
                <dl class="dl-horizontal">

                    <dd>
                        <img src="~/images/@Model.ImagePath" class="imagepropmed" />
                    </dd>

                </dl>
            </div>
        </div>

        <div class="col-6">
            <div class="ml-2">
                <dl class="dl-horizontal">


                    <dd>
                        <h2><b>@Html.DisplayFor(model => model.Title)</b></h2>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.RatingName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RatingName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FormatName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FormatName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DirectorName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DirectorName)
                    </dd>

                </dl>
            </div>
        </div>

        <div class="col-2">
            <div class="ml-2">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Cost)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cost)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.InStockQty)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.InStockQty)
                    </dd>

                    <h5>@Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { id = Model.Id }, null)</h5>

                </dl>
            </div>
        </div>
    


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>