@model JLL.DVDCentral.BL.Models.ShoppingCart

@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Items[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items[0].Cost)
        </th>
      

        <th></th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>

            <td>
                <img src="~/images/@item.ImagePath" class="imageprop" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Cost)
            </td>
            
            <td>

                @Html.ActionLink("Remove from Cart", "RemoveFromCart", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<hr />
<div class="ml-4">
    <h6>Subtotal: $@Model.SubTotalCost</h6>
    <h6>Tax: $@Model.TaxCost</h6>
    <h4>Total Cost: $@Model.TotalCost</h4>
    @Html.ActionLink("Check out", "Checkout", "ShoppingCart", null, new { @class = "btn btn-primary" })
</div>



