@model JLL.DVDCentral.BL.Models.ShoppingCart

@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Items[0].ProgramName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items[0].StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items[0].DegreeTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items[0].ChangeDate)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>

            <td>
                <img src="~/images/SoftwareDeveloper.jpg" class="imageprop" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeDate)
            </td>
            <td>

                @Html.ActionLink("Remove from Cart", "RemoveFromCart", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<div>@Html.ActionLink("Check out", "Checkout", "ShoppingCart", null, new { @class = "btn btn-primary" })</div>



